/* example stylings */

/* fixed.html */
#a,#b, #c {
	margin: 20px auto;
}

#fixed {
	border-color: darkred;
	background-color: palevioletred;
	position: fixed;
	bottom: 0;
	right: 200px;
}

#absolute {
	border-color: purple;
	background-color: rebeccapurple;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* absolute.html */
#abs-parent {
	position: relative;
	height: 150px;
	max-width: 400px;
	margin: 20 auto;
}

#abs-child {
	position: absolute;
	right: 0;
	border-width: 5px;
}

/* relative.html */
#card1 {
	max-width: 600px;
	margin: 0 auto;
	position: static;

	padding: 10px;

	border: 1px solid wheat;
}

#card2 {
	width: 400px;
	margin: 10 auto; 
	/* uses shorthad for top-bottom and left-right respectively */

	padding: 10px;

	border: 1px solid wheat;

	position: relative;
	top: -20px;
	background-color: seagreen;
}

#card2-1 {
	width: 200px;
	margin: 0 auto;
	border: 1px solid wheat;
}

#div-rel {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 25px;
	border: 10px solid forestgreen;
	position: relative;
}

#div-abs {
	width: 300px;
	height: 300px;
	border: 10px solid forestgreen;
	position: absolute;
	top: 80px;
}
